{% extends model('template') %}

{% define data = {
    form: form
} %}

{% block body %}
    {% macro crefopayField(name, attribute, placeholder) %}
        <div class="spacing-y">
            <label class="label label--required">{{ name | trans }}</label>
            <input class="input input--expand" type="text" data-crefopay="{{ attribute }}" placeholder="{{ placeholder | trans }}">
        </div>
    {% endmacro %}

    {% set crefopayFields = [
        {name: "crefopay.accountholder", attribute: "paymentInstrument.bankAccountHolder", placeholder: "John Doe"},
        {name: "crefopay.iban", attribute: "paymentInstrument.iban", placeholder: "DE12 3456 7890 1112 1314"},
        {name: "crefopay.bic", attribute: "paymentInstrument.bic", placeholder: "SFRTDE20000"}
    ] %}

    {% embed molecule('crefopay-payment-form', 'CrefoPay') with {
        data: {
            paymentMethodForm: data.form.crefoPayCreditCard,
            shopPublicKey: '',
            orderId: '',
            secureFieldsLibraryUrl: '',
            crefoPayConfig: {
                url: '',
                placeholders: {
                    accountHolder: '',
                    number: '',
                    cvv: ''
                }
            }
        },
        embed: {
            fields: crefopayFields,
            context: _self
        }
    } only %}
        {% block requestForm %}
            {{ form_widget(data.paymentMethodForm) }}
            {% for field in embed.fields %}
                {{ embed.context.crefopayField(field.name, field.attribute, field.placeholder) }}
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
