{% extends model('component') %}

{% define config = {
    name: 'crefopay-payment-form',
    tag: 'crefopay-payment-form'
} %}

{% define data = {
    formType: required,
    shopPublicKey: required,
    orderId: required,
    secureFieldsLibraryUrl: required,
    fields: [],
    crefoPayConfig: {
        url: required,
        placeholders: {
            accountHolder: required,
            number: required,
            cvv: required
        }
    }
} %}

{% define attributes = {
    'shop-public-key': data.shopPublicKey,
    'order-id': data.orderId,
    'crefo-pay-config': data.crefoPayConfig | json_encode(),
    'payment-form-selector': '#payment-form',
    'payment-instrument-id-selector': '[name="' ~ data.formType.children['paymentInstrumentId'].vars.full_name ~ '"]',
    'class-to-toggle': 'is-hidden',
    'payment-container-selector': '.form',
    'payment-toggler-selector': '[class*="js-payment-method"]',
    'toggle-class-to-check': 'is-hidden'
} %}

{% block body %}
    {% macro crefopayField(name, attribute, blockName) %}
        <div class="spacing-y">
            <label class="label label--required">{{ name }}</label>
            <div class="{{ blockName }}__input-container" data-crefopay-placeholder="{{ attribute }}"></div>
        </div>
    {% endmacro %}

    {% include molecule('script-loader') with {
        class: config.jsName ~ '__script-loader',
        attributes: {
            src: data.secureFieldsLibraryUrl
        }
    } only %}
    {% block requestForm %}
        {{ form_widget(data.formType) }}

        {% for field in data.fields %}
            {{ _self.crefopayField(field.name, field.attribute, config.name) }}
        {% endfor %}

        <div class="{{ config.name }}__error {{ config.jsName }}__error spacing-y is-hidden">
            {{ 'crefopay.required_notification' | trans }}
        </div>
    {% endblock %}
{% endblock %}
