{% extends model('component') %}

{% define config = {
    name: 'crefopay-form-loader',
    tag: 'crefopay-form-loader'
} %}

{% define data = {
    form: required,
    shopPublicKey: required,
    orderId: required,
    fields: []
} %}

{% define attributes = {
    'shop-public-key': data.shopPublicKey,
    'order-id': data.orderId,
    'payment-form-selector': '#payment-form',
    'payment-instrument-id-selector': '[name="' ~ data.form.crefoPayCreditCard.children['paymentInstrumentId'].vars.full_name ~ '"]',
    'class-to-toggle': 'is-hidden'
} %}

{% block body %}
    {% macro crefopayField(name, attribute, blockName) %}
        <div class="spacing-y">
            <label class="label label--required">{{ name }}</label>
            <div class="{{ blockName }}__input-container" data-crefopay-placeholder="{{ attribute }}"></div>
        </div>
    {% endmacro %}

    {% include molecule('script-loader') with {
        class: config.jsName ~ '__script-loader',
        attributes: {
            src: "https://libs.crefopay.de/3.0/secure-fields.js"
        }
    } only %}
    {% block requestForm %}
        {{ form_widget(data.form.crefoPayCreditCard) }}

        {% for field in data.fields %}
            {{ _self.crefopayField(field.name, field.attribute, config.name) }}
        {% endfor %}

        <div class="{{ config.name }}__error {{ config.jsName }}__error spacing-y is-hidden">
            {{ 'All fields are required.' | trans }}
        </div>
    {% endblock %}
{% endblock %}
